
.all-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
    margin-left: -200px;
    padding: 200px;
    width: 95%;
    max-width: 1200px;
    margin: 10 auto;
  }
  
  .post {
    margin: 20px 0;
    padding: 20px ;
    width: 95%;
    max-width: 800px;

    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .post-content {
    font-size: 28px; 
    margin-bottom: 10px;
  }
  
  .post-details {
    font-size: 16px; 
    color: #555;
  } 

  .album-name {
    font-size: 30px; 
    margin-bottom: 10%;
}
  
  .star-rating {
    display: inline-block;
  }
  
  .star-rating span {
    font-size: 20px; 
    color: #ccc;
  } 
  
 .star,
  .star-filled {
    width: 50px; 
    height: 50px; 
    fill: none;
    stroke: #ccc;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
  } 
  
 .star-filled {
    stroke: #f39c12; /* Color for filled stars */
 } 

   .all-posts {
   text-decoration: underline;
   font-size: 35px;
  }  
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
     height: 100vh; 

   } 
   
  .logo {
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
   margin-bottom: 20px; 
    
  } 

  .title{
    font-size: 50px;
  } 
  
  .edit-button,
  .delete-button,
  .like-button {
    
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    text-decoration: none;
  }
  
  .edit-button,
  .like-button,
  .delete-button {
    background-color: #007bff;
    color: #fff;
  }

  .edit-button:hover,
  .delete-button:hover,
  .like-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
    text-decoration: none;
  }
  
@media only screen and (min-width: 1000px) {


  .all-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
    margin-left: -200px;
    padding: 400px;
    width: 70%;
    max-width: 1200px;
    margin: 10 auto;
  }
  
  .post {
    margin: 20px 0;
    padding: 20px ;
    width: 300%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
  }

  .post-content {
    font-size: 25px; 
    margin-bottom: 10px;
    
    
  }
  
  .post-details {
    font-size: 16px; 
    color: #555;
    
  } 

  .album-name {
    font-size: 30px; 
    margin-bottom: 10%;
}
  
  .star-rating {
    display: inline-block;
  }
  
  .star-rating span {
    font-size: 20px; 
    color: #ccc;
  } 
  
 .star,
  .star-filled {
    width: 50px; 
    height: 50px; 
    fill: none;
    stroke: #ccc;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
  } 
  
 .star-filled {
    stroke: #f39c12; /* Color for filled stars */
 } 

   .all-posts {
   text-decoration: underline;
   font-size: 40px;
  }  
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
     height: 100vh; 

   } 
   
  .logo {
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
   margin-bottom: 20px; 
    
  } 

  .title{
    font-size: 50px;
  } 

  .edit-button,
  .delete-button,
  .like-button {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 30px;
  }

}