/* AllPostsPage.css */

.all-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post {
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .post-content {
    font-size: 18px; /* Updated font size for the review paragraph */
    margin-bottom: 10px;
  }
  
  .post-details {
    font-size: 16px; /* Updated font size for the details */
    color: #555;
  }
  
  .album-name {
    font-size: 50px; 
  }
  
  .star-rating {
    display: inline-block;
  }
  
  .star-rating span {
    font-size: 20px; 
    color: #ccc;
  }
  
  .star,
  .star-filled {
    width: 50px; 
    height: 50px; 
    fill: none;
    stroke: #ccc;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    cursor: pointer;
  }
  
  .star-filled {
    stroke: #f39c12; /* Color for filled stars */
  }
  