/* .star-rating-edit {
    display: inline-block;
  }
  
  .star-rating-edit input[type="radio"] {
    display: none;
  }
  
  .star-rating-edit label {
    cursor: pointer;
  }
  
  .star-rating-edit .star {
    font-size: 24px;
    color: #ccc;
  }
  
  .star-rating-edit input[type="radio"]:checked + .star {
    color: #f39c12;
  } */
/* StarRatingEdit.css */

.star-rating-edit {
    display: inline-block;
  }
  
  .star-rating-edit input[type="radio"] {
    display: none;
  }
  
  .star-rating-edit label {
    cursor: pointer;
  }
  
  .star-rating-edit span {
    font-size: 24px;
    color: #ccc; /* Grey color for empty stars */
  }
  
  .star-rating-edit .filled {
    color: #f39c12; /* Yellow color for filled stars */
  }
  
  