/* StarRating.css */

.star-rating {
    display: inline-block;
  }

  .star-rating span {
    font-size: 18px; 
  }

  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    cursor: pointer;
    margin-right: 15px;
  }
  
  .star-rating span {
    font-size: 50px;
    color: #ccc;
  }
  
  .star-rating .filled {
    color: #f39c12;
  }

  @media only screen and (min-width: 1000px) {
    .star-rating span {
      font-size: 30px;
      color: #ccc;
    }
  }